<config>
    <modules>
        <OrderApprove_Approve>
            <version>0.0.1</version>
        </OrderApprove_Approve>
    </modules>
	<global>
		<blocks>
			 <adminhtml>
				<rewrite>
					<sales_order_view>OrderApprove_Approve_Block_Adminhtml_Sales_Order_View</sales_order_view>
				</rewrite>
             </adminhtml>
		</blocks>
		<models>
			<sales>
				<rewrite>
					<order>OrderApprove_Approve_Model_Order</order>
				</rewrite>
				<rewrite>
					<order_api>OrderApprove_Approve_Model_Order_Api</order_api>
				</rewrite>
			</sales>
		</models>
		<sales>
			<order>
				<statuses>
                    <pending translate="label">
                        <label>Pending</label>
                    </pending>
                    <pending_payment translate="label">
                        <label>Pending Payment</label>
                    </pending_payment>
                    <processing translate="label">
                        <label>Processing</label>
                    </processing>
                    <holded translate="label">
                        <label>On Hold</label>
                    </holded>
					<approved translate="label">
                        <label>Approved</label>
                    </approved>
                    <rejected translate="label">
                        <label>Rejected</label>
                    </rejected>
                    <complete translate="label">
                        <label>Complete</label>
                    </complete>
                    <closed translate="label">
                        <label>Closed</label>
                    </closed>
                    <canceled translate="label">
                        <label>Canceled</label>
                    </canceled>
                    <fraud translate="label">
                        <label>Suspected Fraud</label>
                    </fraud>
                    <payment_review translate="label">
                        <label>Payment Review</label>
                    </payment_review>
                </statuses>
                <states>
                    <new translate="label">
                        <label>New</label>
                        <statuses>
                            <pending default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </new>
                    <pending_payment translate="label">
                        <label>Pending Payment</label>
                        <statuses>
                            <pending_payment default="1"/>
                        </statuses>
                    </pending_payment>
                    <processing translate="label">
                        <label>Processing</label>
                        <statuses>
                            <processing default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </processing>
                    <complete translate="label">
                        <label>Complete</label>
                        <statuses>
                            <complete default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </complete>
                    <closed translate="label">
                        <label>Closed</label>
                        <statuses>
                            <closed default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </closed>
                    <canceled translate="label">
                        <label>Canceled</label>
                        <statuses>
                            <canceled default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </canceled>
                    <holded translate="label">
                        <label>On Hold</label>
                        <statuses>
                            <holded default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </holded>
					<approved translate="label">
                        <label>Approved</label>
                        <statuses>
                            <approved default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </approved>
                    <rejected translate="label">
                        <label>Rejected</label>
                        <statuses>
                            <rejected default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </rejected>
                    <payment_review translate="label">
                        <label>Payment Review</label>
                        <statuses>
                            <payment_review default="1"/>
                            <fraud/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </payment_review>
                </states>
			</order>
		</sales>
	</global>
	<frontend> 
		<routers>
            <approve>
                <use>standard</use>
                <args>
                    <module>OrderApprove_Approve</module>
                    <frontName>approve</frontName>
                </args>
            </approve>
        </routers>
	</frontend>
	<admin>
      <routers>
            <adminhtml>     
            <use>admin</use>           
                <args>
                    <modules>
                        <OrderApprove_Approve before="Mage_Adminhtml">OrderApprove_Approve</OrderApprove_Approve>
                    </modules>                    
                </args>
            </adminhtml>
      </routers>
  </admin>
</config>